In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keyz import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Import our data into pandas from CSV
vacation = '../WeatherPy/cityweather.csv'
vacationz = pd.read_csv(vacation)
vacationz

,City,Latitude,Longitude,Humidity,Cloudiness,Max Temperature,Wind Speed,Country,Date
0,jacareacanga,-6.2222,-57.7528,87.0,80.0,298.09,0.39,BR,1.619329e+09
1,vaini,-21.2000,-175.2000,83.0,20.0,300.15,1.54,TO,1.619328e+09
2,malanje,-9.5402,16.3410,96.0,92.0,290.22,0.76,AO,1.619329e+09
3,riyadh,24.6877,46.7219,8.0,0.0,304.15,3.60,SA,1.619328e+09
4,hobart,-42.8794,147.3294,44.0,75.0,290.37,9.26,AU,1.619328e+09
...,...,...,...,...,...,...,...,...,...
559,akyab,20.1500,92.9000,58.0,83.0,304.78,5.35,MM,1.619329e+09
560,semirom,31.4167,51.5667,16.0,34.0,290.92,1.78,IR,1.619329e+09
561,muisne,0.6000,-80.0333,86.0,99.0,298.36,2.33,EC,1.619329e+09
562,balikpapan,-1.2675,116.8289,65.0,71.0,302.84,3.19,ID,1.619329e+09
563,aykhal,66.0000,111.5000,94.0,100.0,273.28,5.59,RU,1.619328e+09

### Humidity Heatmap

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
locations = vacationz[["Latitude", "Longitude"]].astype(float)
fig = gmaps.figure(layout={
        'width': '1200px',
        'height': '600px',
        'padding': '3px',
        'border': '1px solid black'
},center=(15, -10.0), zoom_level=2.5)
heat_layer = gmaps.heatmap_layer(locations, weights=vacationz['Humidity'], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='3px', width='1200px'))

#### Create new DataFrame fitting weather criteria

In [81]:
hotel_df=vacationz.loc[((vacationz['Humidity'].between(95,100))&(vacationz['Wind Speed']<=1)&
                        (vacationz['Max Temperature'].between(290,310))),['City', 'Latitude', 'Longitude', 'Humidity', 'Cloudiness', 'Max Temperature', 'Wind Speed', 'Country', 'Date']]
hotel_df['Hotel Name']=""
hotel_df

/Users/eobodoechine/opt/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,City,Latitude,Longitude,Humidity,Cloudiness,Max Temperature,Wind Speed,Country,Date,Hotel Name
2,malanje,-9.5402,16.3410,96.0,92.0,290.22,0.76,AO,1.619329e+09,
73,manicore,-5.8092,-61.3003,96.0,13.0,296.19,0.43,BR,1.619329e+09,
207,amapa,1.0000,-52.0000,99.0,95.0,294.97,0.85,BR,1.619328e+09,
213,lewistown,40.5992,-77.5714,95.0,100.0,281.48,1.00,US,1.619328e+09,
227,sevierville,35.8681,-83.5618,100.0,90.0,286.15,0.96,US,1.619329e+09,
320,mapiri,-15.2500,-68.1667,99.0,97.0,293.23,0.08,BO,1.619329e+09,
327,maues,-3.3836,-57.7186,96.0,82.0,296.09,0.99,BR,1.619329e+09,
417,palmeira,-25.4294,-50.0064,95.0,96.0,286.26,0.92,BR,1.619329e+09,
435,bereda,43.2686,-7.5406,100.0,100.0,285.93,0.89,ES,1.619329e+09,
449,mossendjo,-2.9506,12.7261,99.0,88.0,294.60,0.59,CG,1.619328e+09,
502,kampene,-3.6000,26.6667,99.0,100.0,293.31,0.70,CD,1.619329e+09,
530,grand-santi,4.2500,-54.3833,99.0,100.0,295.74,0.92,GF,1.619329e+09,

In [90]:
hotel_df=vacationz.loc[(vacationz['Humidity'].between(95,100))&(vacationz['Wind Speed']<=1)&
                        (vacationz['Max Temperature'].between(290,310)),:]
hotel_df['Hotel Name']=""
hotel_df

/Users/eobodoechine/opt/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,City,Latitude,Longitude,Humidity,Cloudiness,Max Temperature,Wind Speed,Country,Date,Hotel Name
2,malanje,-9.5402,16.3410,96.0,92.0,290.22,0.76,AO,1.619329e+09,
73,manicore,-5.8092,-61.3003,96.0,13.0,296.19,0.43,BR,1.619329e+09,
207,amapa,1.0000,-52.0000,99.0,95.0,294.97,0.85,BR,1.619328e+09,
320,mapiri,-15.2500,-68.1667,99.0,97.0,293.23,0.08,BO,1.619329e+09,
327,maues,-3.3836,-57.7186,96.0,82.0,296.09,0.99,BR,1.619329e+09,
449,mossendjo,-2.9506,12.7261,99.0,88.0,294.60,0.59,CG,1.619328e+09,
502,kampene,-3.6000,26.6667,99.0,100.0,293.31,0.70,CD,1.619329e+09,
530,grand-santi,4.2500,-54.3833,99.0,100.0,295.74,0.92,GF,1.619329e+09,

In [93]:
test2 = vacationz.loc[(vacationz['Humidity'].between(95,100))& (vacationz['Wind Speed'] <=1)& 
                      (vacationz['Max Temperature'].between(290,310)),:]
                       
test3 = test2.copy()
test3['Hotel Name']=""

In [83]:
test = vacationz.loc[vacationz['Humidity'].between(95,100), :]
test.head()

,City,Latitude,Longitude,Humidity,Cloudiness,Max Temperature,Wind Speed,Country,Date
2,malanje,-9.5402,16.3410,96.0,92.0,290.22,0.76,AO,1.619329e+09
18,naron,43.5167,-8.1528,100.0,20.0,287.04,4.12,ES,1.619329e+09
21,tilichiki,60.4667,166.1000,97.0,100.0,272.01,3.49,RU,1.619329e+09
37,ibipeba,-11.6408,-42.0111,95.0,35.0,292.69,2.48,BR,1.619329e+09
63,bage,-31.3314,-54.1069,100.0,90.0,290.15,3.09,BR,1.619329e+09

In [15]:
params={"radius": 5000, "type": "hotel", "key": g_key,}
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=39.952583%2C-75.16522&radius=5000&type=hotel&key=AIzaSyDfhVlPKjWmO__D7Gx_Cem2y44gueth1sY

In [53]:
for index, row in hotel_df.iterrows():
    hotel_l = f"{row['Latitude']},{row['Longitude']}"
    params['location'] = hotel_l
    print(f"Retrieving Results for {row['City']}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
    print("------------")

Retrieving Results for malanje.
Closest hotel is Malanje.
------------
Retrieving Results for manicore.
Closest hotel is ManicorÃ©.
------------
Retrieving Results for amapa.
Closest hotel is Teresinha.
------------
Retrieving Results for mapiri.
Closest hotel is Mapiri cerro.
------------
Retrieving Results for maues.
Closest hotel is Centro.
------------
Retrieving Results for mossendjo.
Closest hotel is Mossendjo.
------------
Retrieving Results for kampene.
Closest hotel is Kampene.
------------
Retrieving Results for grand-santi.
Closest hotel is Grand-Santi.
------------

In [74]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
marker_locations = hotel_df[["Latitude", "Longitude"]] 
markers = gmaps.marker_layer(marker_locations,info_box_content=[info_box_template.format(**row) for index, row in hotel_df.iterrows()])
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='3px', width='1200px'))