In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keyz import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
# Import our data into pandas from CSV
vacation = '../WeatherPy/cityweather.csv'
vacationz = pd.read_csv(vacation)
vacationz

,City,Latitude,Longitude,Humidity,Cloudiness,Max Temperature,Wind Speed,Country,Date
0,rikitea,-23.1203,-134.9692,71.0,100.0,297.85,4.48,PF,1.620307e+09
1,albany,42.6001,-73.9662,65.0,14.0,284.26,3.13,US,1.620307e+09
2,palmer,42.1584,-72.3287,62.0,40.0,284.82,8.23,US,1.620307e+09
3,vaini,-21.2000,-175.2000,100.0,90.0,296.15,5.14,TO,1.620307e+09
4,erzin,36.9559,36.2000,85.0,16.0,294.82,5.81,TR,1.620307e+09
...,...,...,...,...,...,...,...,...,...
556,lyubim,58.3625,40.6843,67.0,100.0,288.28,6.55,RU,1.620307e+09
557,tongliao,43.6125,122.2653,61.0,100.0,283.53,4.90,CN,1.620307e+09
558,leshukonskoye,64.8989,45.7622,41.0,95.0,278.74,1.62,RU,1.620307e+09
559,iranshahr,27.2025,60.6848,15.0,20.0,309.15,2.43,IR,1.620307e+09
560,fallon,39.4735,-118.7774,44.0,1.0,287.59,3.32,US,1.620307e+09

### Humidity Heatmap

In [12]:
gmaps.configure(api_key=g_key)

In [13]:
locations = vacationz[["Latitude", "Longitude"]].astype(float)
fig = gmaps.figure(layout={
        'width': '1200px',
        'height': '600px',
        'padding': '3px',
        'border': '1px solid black'
},center=(15, -10.0), zoom_level=2.5)
heat_layer = gmaps.heatmap_layer(locations, weights=vacationz['Humidity'], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='3px', width='1200px'))

#### Create new DataFrame fitting weather criteria

In [33]:
hotel_df=vacationz.loc[((vacationz['Humidity'].between(90,100))&(vacationz['Wind Speed']<=5)&
                        (vacationz['Max Temperature'].between(290,320))),['City', 'Latitude', 'Longitude', 'Humidity', 'Cloudiness', 'Max Temperature', 'Wind Speed', 'Country', 'Date']]
hotel_df['Hotel Name']=""
hotel_df

,City,Latitude,Longitude,Humidity,Cloudiness,Max Temperature,Wind Speed,Country,Date,Hotel Name
9,krabi,8.0726,98.9105,100.0,75.0,298.15,1.54,TH,1.620307e+09,
23,carnarvon,-24.8667,113.6333,94.0,21.0,292.15,1.03,AU,1.620307e+09,
62,isangel,-19.5500,169.2667,94.0,20.0,296.15,3.25,VU,1.620307e+09,
104,nishihara,26.1842,127.7558,94.0,75.0,298.15,2.06,JP,1.620307e+09,
123,itoman,26.1247,127.6694,94.0,20.0,298.15,4.12,JP,1.620307e+09,
134,soe,-9.8607,124.2840,91.0,31.0,291.67,1.85,ID,1.620307e+09,
135,tibu,8.6390,-72.7358,95.0,100.0,297.75,0.60,CO,1.620307e+09,
138,kendari,-3.9450,122.4989,94.0,100.0,297.42,1.36,ID,1.620307e+09,
162,rio grande,-0.9156,-48.0594,94.0,75.0,297.15,2.06,BR,1.620307e+09,
233,bonfim,3.0833,-59.9500,100.0,75.0,297.15,4.12,BR,1.620307e+09,
307,shenjiamen,29.9576,122.2980,91.0,100.0,290.89,3.16,CN,1.620307e+09,
330,noumea,-22.2763,166.4572,94.0,0.0,297.59,1.03,NC,1.620307e+09,
377,cessnock,-32.8333,151.3500,98.0,98.0,290.93,2.06,AU,1.620307e+09,
379,acajutla,13.5928,-89.8275,94.0,0.0,295.37,2.05,SV,1.620307e+09,
388,manado,1.4870,124.8455,100.0,40.0,297.15,1.41,ID,1.620307e+09,
467,champerico,14.3000,-91.9167,94.0,75.0,296.15,1.70,GT,1.620307e+09,
469,kawalu,-7.3817,108.2082,96.0,97.0,296.50,0.60,ID,1.620307e+09,
473,zhicheng,30.2956,111.5047,91.0,37.0,290.93,0.64,CN,1.620307e+09,
494,alyangula,-13.8483,136.4192,94.0,2.0,295.15,4.19,AU,1.620307e+09,
518,acapetahua,15.2833,-92.7000,100.0,90.0,297.15,2.57,MX,1.620307e+09,
545,tarakan,3.3000,117.6333,94.0,40.0,298.15,2.06,ID,1.620307e+09,

In [34]:
params={"radius": 5000, "type": "hotel", "key": g_key,}
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [35]:
for index, row in hotel_df.iterrows():
    hotel_l = f"{row['Latitude']},{row['Longitude']}"
    params['location'] = hotel_l
    print(f"Retrieving Results for {row['City']}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
    print("------------")

Retrieving Results for krabi.
Closest hotel is Pak Nam.
------------
Retrieving Results for carnarvon.
Closest hotel is Carnarvon.
------------
Retrieving Results for isangel.
Closest hotel is Isangel.
------------
Retrieving Results for nishihara.
Closest hotel is Naha.
------------
Retrieving Results for itoman.
Closest hotel is Itoman.
------------
Retrieving Results for soe.
Closest hotel is Soe.
------------
Retrieving Results for tibu.
Closest hotel is TibÃº.
------------
Retrieving Results for kendari.
Closest hotel is Kendari.
------------
Retrieving Results for rio grande.
Closest hotel is AÃ§ougue e Comercial da Vila.
------------
Retrieving Results for bonfim.
Closest hotel is Bonfim.
------------
Retrieving Results for shenjiamen.
Closest hotel is Zhoushan.
------------
Retrieving Results for noumea.
Closest hotel is NoumÃ©a.
------------
Retrieving Results for cessnock.
Closest hotel is Cessnock.
------------
Retrieving Results for acajutla.
Closest hotel is Acajutla.
------------
Retrieving Results for manado.
Closest hotel is Manado.
------------
Retrieving Results for champerico.
Closest hotel is Champerico.
------------
Retrieving Results for kawalu.
Closest hotel is Tasikmalaya.
------------
Retrieving Results for zhicheng.
Closest hotel is Yichang.
------------
Retrieving Results for alyangula.
Closest hotel is Alyangula.
------------
Retrieving Results for acapetahua.
Closest hotel is Acapetahua.
------------
Retrieving Results for tarakan.
Closest hotel is Tarakan.
------------

In [36]:
#Add markers to map
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
marker_locations = hotel_df[["Latitude", "Longitude"]] 
markers = gmaps.marker_layer(marker_locations,info_box_content=[info_box_template.format(**row) for index, row in hotel_df.iterrows()])
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='3px', width='1200px'))